* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  border: none;
  outline: none;
  color: #fff;
  box-sizing: border-box;
}

.App {
  background-image: url("https://i.pinimg.com/736x/2b/cb/a6/2bcba6eb23761930dad14ea3d05787dd.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.App .title-container {
  text-align: center;
}

.App .title-container .title {
  display: inline-block;
  text-align: center;
  background-color: #26242780;
  backdrop-filter: blur(5px);
  padding: 30px;
  margin: 15px;
  font-size: 2rem;
  border-radius: 1rem;
}
